@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: red;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background-color: #F6F6F6;
}

footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer-below {
    padding: 25px 0;
    background-color: #222;
  }
}

#loggit {
  width: 480px;
  margin: 5% auto 0px;
  padding: 20px 40px;

  .formSubmit {
    margin-bottom: 25px;
  }
  .submitWrap {
    text-align: right;
  }
  .formNotice {
    margin: 0px;
    font-size: 13px;
  }
}

.input-group {
  margin-bottom: 15px;
}

fieldset.fsStyle {
  border: 1px solid #999999;
  padding: 4px;
  margin: 5px;
}

legend {
  width: auto;
  border-bottom: 0px;
  color: inherit;

  .legendStyle {
    padding-left: 5px;
    padding-right: 5px;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
  }
}

.thumbnail {
  background-color: #FFF;
}

#main {
  padding-bottom: 90px;
  padding-top: 50px;
}

.flash {
  margin-top: 10px;
}

/* book */
.book-container {
  border-radius: 5px;
  padding: 10px;
  border: none;
  .book-item {
    border-radius: 5px;
    height: 280px;
    margin-bottom: 30px;
    .flip {
      height: 220px;
      overflow: hidden;
    }
    .book-img {
      width: 100%;
      height: 270px;
    }
    .short-desc {
      font-size: 12px;
      padding: 10px 10px 0;
    }
    .back {
      border-radius: 5px;
      background: $gray-light;
      .btn-view {
        display: block;
        margin: auto;
        width: 100px;
        backface-visibility: visible !important;
      }
    }
    .title, .author {
      text-align: center;
      margin: 5px auto;
      height: 30px;
      max-width: 180px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      a {
        color: #222;
        text-decoration: none;
        &:hover {
          color: #555;
        }
      }
    }
    .author {
      margin: 0;
      line-height: 1;
    }
  }
}

.users.follow {
  padding: 0;
}

.user-info {
  margin-left: 0;
  margin-top: 80px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
  height: 80px;
}

.all-users {
  margin-top: 70px;
}

.stats {
  overflow: auto;
  margin-top: 10px;
  margin-left: 0px;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.btn-follow{
  margin-left: 10px;
  margin-top: 20px;
}

.tab-content {
  background: #FFF;
  margin-left: 18px;
  #detail {
    padding: 10px;
  }
}

.list-unstyled {
  padding-left: 5px;
}

.review-form {
  padding: 10px;
}
